* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
} 
   
   .container1{
    background-color: rgb(215, 240, 247);
    background-image: url('../img/healthcare.jpg');
    background-repeat: no-repeat;
    background-size: 100% 80%;

    }
    .cn{
        color: rgb(0, 61, 153);
    }
    .hc-top{
        padding-top: 200px;
        padding-left: 250px;
        padding-bottom: 200px;
        }

    .button{
        margin: 10px 5px;
    }

    .services{
        background-color: aliceblue;
        padding-top: 100px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 100px;
    }
    .more-services{
        padding-top: 30px;

        margin: auto;
        text-align: center;

    }


    /*calendar*/
    .calendar{
        background-color: aliceblue;
        text-align: center;
        margin: auto;
    }
    

    .map{
        background-color: aliceblue;
        text-align: center;
        margin: auto;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 100px;
    }

    .faq{
        background-color: aliceblue;
        padding-left: 250px;
        padding-right: 250px;
        padding-bottom: 100px;
    }
    
    .faq-header{
        text-align: center;
    }