* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';

    } 
   
   .container1{
    background-color: rgb(215, 240, 247);
    background-image: url('../img/hc3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    }
   
   
    .hc-top{
        padding-top: 200px;
        padding-bottom: 200px;
        text-align: center;


    }

    .button{
        margin: 10px 5px;
    }

    .services{
        background-color: aliceblue;
        padding-top: 100px;
        text-align: center;
        padding-bottom: 100px;
        float: none;
        display: inline;
  
    }
    .more-services{
        padding-top: 50px;
        padding-bottom: 50px;
        margin: auto;
        text-align: center;

    }


    /*Calendar*/
    .calendar{
        background-color: aliceblue;
        text-align: center;
        margin: auto;
    }
    /*Map*/
    .header-map{
        text-align: center;
    }
    .map{
        background-color: aliceblue;
        text-align: center;
        padding-bottom: 100px;
        padding-top: 50px;
    }

    .mapouter{
        text-align: center;
        margin: auto;

    }

    .faq{
        background-color: aliceblue;
        padding-left: 250px;
        padding-right: 250px;
        padding-bottom: 100px;
    }
    
    .faq-header{
        text-align: center;
    }


    /*Volunteers*/
        .content-volunteers{
            padding-top: 20px;
            margin-top:20px;
            text-align: center;
            background-color: aliceblue;
        }
 
        .thumb-lg {
            height: 100px;
            width: 100px;
            float:none;
            margin:0 auto;
        
        }
        .card {
            border: none;
            box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
        
        }
        .m-b-30 {
            margin-bottom: 30px;
        }
        
/*Log In and Register Btn*/

.container-log-in-reg {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media (min-width: 576px) {
    .container-log-in-reg {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-log-in-reg {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-log-in-reg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-log-in-reg {
        max-width: 1140px;
    }
}



.card-columns .card {
    margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}
.text-muted {
    color: #9faecb !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.mb-3 {
    margin-bottom: 1rem !important;
}

.input-group {
    position: relative;
    display: flex;
    width: 100%;
}


/*new volunteer form*/

.gradient-brand-color {
    background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    background-image: -ms-linear-gradient(0deg, #3c77ff 0%, #6470ef 100%);
    color: #fff;
}
.contact-info__wrapper {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0
}

@media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        padding: 5rem !important
    }
}
.contact-info__list span.position-absolute {
    left: 0
}
.z-index-101 {
    z-index: 101;
}
.list-style--none {
    list-style: none;
}
.contact__wrapper {
    background-color: #fff;
    border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
    .contact__wrapper {
        border-radius: .625rem 0 .625rem .625rem
    }
}
@media (min-width: 1024px) {
    .contact-form__wrapper {
        padding: 5rem !important
    }
}
.shadow-lg, .shadow-lg--on-hover:hover {
    box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}

/*registration*/

